* {
  border: 1px solid red;
}
body {
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  box-sizing: border-box;
}
nav .a {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-right: 5%;
}
.main-img {
  width: 100%;
}
