body {
  margin: 0;
  box-sizing: border-box;
}
.nav {
  background: rgba(240, 235, 235, 0.438);
}
.nav nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  box-sizing: border-box;
}
.nav nav .a {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-right: 5%;
  align-items: center;
}
.nav nav .a a {
  text-decoration: none;
  color: #707070;
}
.main-img {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  box-sizing: border-box;
}
