/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #707070;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: #707070;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.wrapper {
  background-image: url(/images/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
}
.wrapper nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
}
.wrapper nav .nav-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.wrapper nav .nav-container img {
  height: 10vh;
  width: 23vh;
}
.wrapper nav .nav-container .nav-menu {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper nav .nav-container .nav-menu a {
  text-decoration: none;
  color: #707070;
  font-size: 1.4rem;
}
body {
  margin: 0;
  box-sizing: border-box;
  color: #314B11;
}
.nav {
  background: rgba(240, 235, 235, 0.438);
}
.nav nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 2% 0 2% 0;
}
@media screen and (max-width: 430px) {
  .nav nav {
    flex-direction: column;
    padding-bottom: 20%;
  }
}
@media screen and (max-width: 400px) {
  .nav nav {
    padding-bottom: 16.5%;
  }
}
@media screen and (max-width: 370px) {
  .nav nav {
    padding-bottom: 14%;
  }
}
@media screen and (max-width: 350px) {
  .nav nav {
    padding-bottom: 8%;
  }
}
.nav nav .logo {
  width: 40%;
  height: auto;
  margin-left: 5%;
}
.nav nav .a {
  display: flex;
  justify-content: end;
  width: 50%;
  padding-right: 5%;
  align-items: center;
}
@media screen and (max-width: 430px) {
  .nav nav .a {
    flex-direction: column;
    margin: 0 auto;
    line-height: 40px;
  }
}
.nav nav .a a {
  text-decoration: none;
  color: #707070;
  margin-right: 5%;
}
.nav nav .a a:hover {
  color: white;
  transition: 0.5s;
}
.main-img {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  box-sizing: border-box;
}
.logo2 {
  width: 80%;
  height: auto;
  padding-left: 30%;
  padding-top: 5%;
  margin-bottom: 40%;
}
@media screen and (max-width: 430px) {
}
.middle {
  background: url("../images/guidr\ icon.svg") no-repeat;
  background-size: 65% 65%;
  background-position: 150% 0%;
}
.middle .top {
  text-align: left;
  margin: 0 auto;
}
.middle .top h1 {
  font-size: 5rem;
  color: #707070;
  margin: 0;
  padding: 6% 6% 0 6%;
}
.middle .top p {
  padding: 0 6%;
  color: #707070;
  margin-bottom: 10%;
}
@media screen and (max-width: 430px) {
  .middle .top {
    margin-top: 20%;
  }
  .middle .top h1 {
    font-size: 4rem;
  }
}
.middle .cards {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10%;
  background: linear-gradient(rgba(224, 20, 20, 0) 40%, rgba(224, 20, 20, 0) 40%, #d3d2d218 40%, #d3d2d218 40%);
}
.middle .cards div {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 5%;
  box-shadow: 1px 1px 15px 1px grey;
  background: white;
  border-radius: 0 0 10px 10px;
}
.middle .cards div h4 {
  align-self: center;
  font-size: 2rem;
}
.middle .cards div p {
  margin: 3%;
  color: #707070;
}
.middle .cards img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
@media screen and (max-width: 430px) {
  .middle .cards {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .middle .cards div {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }
}
.middle button {
  background: #314B11;
  color: white;
  width: 75%;
  border: none;
  padding: 6%;
  font-size: 2rem;
  border-radius: 25px;
  margin: 0 auto;
}
footer {
  background: #314B11;
  padding: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer nav {
  width: 100%;
  text-align: center;
}
footer img {
  width: 35%;
  height: auto;
}
footer a {
  text-decoration: none;
  color: white;
  margin: 0 2%;
}
footer p {
  color: white;
}
