/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #707070;
}
h1 {
  font-family: 'Heebo', sans-serif;
  font-size: 8rem;
  color: #707070;
}
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: #707070;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
}
nav .nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}
@media (max-width: 800px) {
  nav .nav-container {
    margin: 0 20px;
  }
}
@media (max-width: 500px) {
  nav .nav-container {
    margin: 0 10px;
  }
}
nav .nav-container .nav-menu {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  nav .nav-container .nav-menu {
    width: 45%;
  }
}
@media (max-width: 500px) {
  nav .nav-container .nav-menu {
    width: 60%;
  }
}
nav .nav-container .nav-menu a {
  text-decoration: none;
  color: #707070;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  nav .nav-container .nav-menu a {
    font-size: 1rem;
  }
}
.hero {
  width: 100%;
  height: 600px;
  margin: auto;
  padding-bottom: 50%;
  background-image: url(/images/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20%;
  padding-left: 5%;
}
@media (max-width: 500px) {
  .hero {
    background-position-x: 65%;
  }
}
.hero img {
  width: 40%;
}
@media (max-width: 500px) {
  .hero img {
    width: 60%;
  }
}
.hero p {
  color: white;
  margin-top: -2%;
  margin-bottom: 1%;
  margin-left: 3%;
  font-size: 1.4vw;
}
@media (max-width: 500px) {
  .hero p {
    font-size: 1.1rem;
  }
}
.hero .btn-get-started {
  background-color: white;
  color: #314b11;
  width: 15%;
  cursor: button;
  font-size: 1.8rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin-left: 3%;
}
.hero .btn-get-started:hover {
  cursor: pointer;
  color: white;
  background-color: #24380D;
}
@media (max-width: 800px) {
  .hero .btn-get-started {
    background-color: white;
    color: #314b11;
    width: 20%;
    cursor: button;
    font-size: 1.8rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }
  .hero .btn-get-started:hover {
    cursor: pointer;
    color: white;
    background-color: #24380D;
  }
}
@media (max-width: 500px) {
  .hero .btn-get-started {
    background-color: white;
    color: #314b11;
    width: 30%;
    cursor: button;
    font-size: 1.8rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    padding: 2%;
  }
  .hero .btn-get-started:hover {
    cursor: pointer;
    color: white;
    background-color: #24380D;
  }
}
@media (max-width: 800px) {
  .hero {
    padding-top: 35%;
    padding-left: 3%;
  }
}
@media (max-width: 500px) {
  .hero {
    padding-top: 50%;
    padding-left: 3%;
  }
}
.header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
@media (max-width: 800px) {
  .header {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .header {
    text-align: center;
  }
}
.header h1 {
  margin-top: 10%;
  font-size: 6rem;
}
@media (max-width: 500px) {
  .header h1 {
    padding-bottom: 5%;
  }
}
.header p {
  margin-top: 2%;
  font-size: 1.6rem;
  text-align: center;
  color: #707070;
}
@media (max-width: 500px) {
  .header p {
    padding-bottom: 5%;
  }
}
.header .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60%;
  margin: 8% 0;
}
@media (max-width: 800px) {
  .header .buttons {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header .buttons {
    width: 90%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    margin: 20px;
  }
}
.header .buttons .btn-solid {
  background-color: #314b11;
  color: white;
  width: 100%;
  border-radius: 10px;
  border: solid 3px #314b11;
  font-size: 2rem;
  padding: 3%;
  margin-right: 15px;
}
.header .buttons .btn-solid:hover {
  cursor: pointer;
  color: white;
  background-color: #24380D;
  border: solid 3px #24380D;
}
@media (max-width: 500px) {
  .header .buttons .btn-solid {
    margin-right: 0;
    margin: 10px;
  }
}
.header .buttons .btn-border {
  background-color: white;
  color: #314b11;
  width: 100%;
  border-radius: 10px;
  border: solid 3px #314b11;
  font-size: 2rem;
  padding: 3%;
  margin-left: 10px;
}
.header .buttons .btn-border:hover {
  cursor: pointer;
  color: white;
  background-color: #24380D;
  border: solid 3px #24380D;
}
@media (max-width: 500px) {
  .header .buttons .btn-border {
    margin-left: 0;
    margin: 10px;
  }
}
.top-content {
  width: 100%;
  overflow: hidden;
}
.top-content .macbookpro {
  z-index: 1;
  margin-top: -25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-content .top-content-text {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  .top-content .top-content-text {
    text-align: center;
    width: 80%;
    margin-bottom: 30%;
  }
}
@media (max-width: 800px) {
  .top-content .top-content-text {
    text-align: center;
  }
}
.top-content .top-content-text h2 {
  font-size: 5rem;
  margin-top: 10%;
  color: #314b11;
}
.top-content .top-content-text p {
  width: 60%;
  text-align: center;
  padding: 3%;
}
@media (max-width: 500px) {
  .top-content .top-content-text p {
    width: 75%;
  }
}
@media (max-width: 800px) {
  .top-content .top-content-text p {
    width: 85%;
  }
}
.middle-content {
  background-color: #efefef;
  width: 100%;
  margin-bottom: 10%;
  border: solid #efefef;
}
.middle-content .cards {
  z-index: 1;
  width: 75%;
  margin: auto;
  margin-top: -10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .middle-content .cards {
    margin-top: -20%;
    width: 100%;
  }
}
.middle-content .cards .card {
  width: 45%;
  justify-content: space-evenly;
  margin: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 1px 2px -1px grey;
}
@media (max-width: 800px) {
  .middle-content .cards .card {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .middle-content .cards .card {
    width: 80%;
  }
}
.middle-content .cards .card img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.middle-content .cards .card h2 {
  padding: 5%;
  color: #314b11;
}
.middle-content .cards .card p {
  padding: 0 5%;
  margin-bottom: 20%;
}
.testimonials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}
.testimonials .test-heading {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
}
.testimonials .test-heading h2 {
  color: #314b11;
}
.testimonials .card-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .testimonials .card-section {
    width: 90%;
  }
}
.testimonials .card-section .test-card {
  width: 45%;
  margin: 20px;
  border-radius: 12px;
  flex-direction: row;
  background-color: #efefef;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 1px 1px 2px -1px grey;
}
@media (max-width: 800px) {
  .testimonials .card-section .test-card {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .testimonials .card-section .test-card {
    width: 70%;
  }
}
.testimonials .card-section .test-card h2 {
  margin-left: -90%;
  padding: 5%;
  font-size: 3.4rem;
  color: #314b11;
}
@media (max-width: 500px) {
  .testimonials .card-section .test-card h2 {
    margin-left: -70%;
    padding-top: 10%;
  }
}
.testimonials .card-section .test-card p {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.8rem;
  color: #707070;
}
.testimonials .card-section .test-card h3 {
  color: #314b11;
  margin-right: -20%;
  font-size: 2.4rem;
}
@media (max-width: 500px) {
  .testimonials .card-section .test-card h3 {
    margin-right: -5%;
  }
}
.testimonials .card-section .test-card .test-card-profile-photo {
  padding: 5%;
  margin-right: -20%;
}
@media (max-width: 500px) {
  .testimonials .card-section .test-card .test-card-profile-photo {
    margin-right: -5%;
  }
}
.plans-section {
  width: 100%;
  padding-bottom: 200px;
  background-image: url(/images/samuel-ferrara-iecJiKe_RNg-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.plans-section .card-section {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 20%;
  padding-bottom: 5%;
}
@media (max-width: 500px) {
  .plans-section .card-section {
    padding-top: 50%;
    padding-bottom: 2%;
    flex-direction: column;
  }
}
.plans-section .card-section .plan-cards {
  width: 35%;
  height: 500px;
  margin: 20px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .plans-section .card-section .plan-cards {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .plans-section .card-section .plan-cards {
    width: 85%;
  }
}
.plans-section .card-section .plan-cards h1 {
  color: #314b11;
  font-size: 5rem;
  text-align: center;
  padding-top: 10%;
}
.plans-section .card-section .plan-cards h2 {
  color: #314b11;
  padding-top: 2%;
}
.plans-section .card-section .plan-cards ul {
  color: #707070;
  font-size: 2rem;
  padding-top: 10%;
}
.plans-section .card-section .plan-cards .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60%;
  margin: auto;
}
.plans-section .card-section .plan-cards .btn-solid {
  background-color: #314b11;
  justify-content: flex-end;
  color: white;
  width: 100%;
  border-radius: 10px;
  border: solid 3px #314b11;
  font-size: 2rem;
  padding: 3%;
  margin-right: 15px;
  margin-top: 100px;
  text-align: center;
}
.plans-section .card-section .plan-cards .btn-solid:hover {
  cursor: pointer;
  color: white;
  background-color: #24380D;
  border: solid 3px #24380D;
}
.plans-section .card-section .plan-cards .btn-border {
  background-color: white;
  color: #314b11;
  width: 100%;
  border-radius: 10px;
  border: solid 3px #314b11;
  font-size: 2rem;
  padding: 3%;
  margin-left: 15px;
}
.plans-section .card-section .plan-cards .btn-border:hover {
  cursor: pointer;
  color: white;
  background-color: #24380D;
  border: solid 3px #24380D;
}
.about-hero {
  width: 100%;
  height: 600px;
  margin: auto;
  background-image: url(/images/koushik-chowdavarapu-OsjPhfgEYEU-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10%;
  text-align: center;
}
@media (max-width: 500px) {
  .about-hero {
    height: 400px;
    background-position-x: 65%;
    padding-top: 25%;
  }
}
.about-hero img {
  width: 40%;
}
@media (max-width: 500px) {
  .about-hero img {
    width: 60%;
  }
}
.about-text {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 20%;
}
@media (max-width: 500px) {
  .about-text {
    width: 80%;
    padding-bottom: 2px;
  }
}
.about-text h1 {
  font-size: 4rem;
  color: #707070;
  padding: 10% 0 3% 0;
}
.about-text p {
  color: #707070;
}
.about-middle-content {
  background-color: #efefef;
  width: 100%;
  border: solid #efefef;
}
.about-middle-content .about-cards {
  z-index: 1;
  width: 90%;
  margin: auto;
  margin-top: -15%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
@media (max-width: 500px) {
  .about-middle-content .about-cards {
    margin-top: -20%;
    width: 100%;
  }
}
.about-middle-content .about-cards .about-card {
  width: 40%;
  height: auto;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 5%;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 2px -1px grey;
}
@media (max-width: 500px) {
  .about-middle-content .about-cards .about-card {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
}
.about-middle-content .about-cards .about-card img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.about-middle-content .about-cards .about-card h2 {
  padding: 5%;
  color: #314b11;
}
.about-middle-content .about-cards .about-card p {
  padding: 0 5%;
  margin-bottom: 20%;
}
.about-middle-content .about-cards .about-card button {
  background: #314b11;
  color: white;
  width: 55%;
  border: none;
  padding: 4%;
  font-size: 2rem;
  border-radius: 12px;
  margin: 0 auto;
}
.about-middle-content .about-cards .about-card button:hover {
  cursor: pointer;
  color: white;
  background-color: #24380d;
}
.theTeam {
  margin: 5% auto;
  padding-bottom: 5%;
  text-align: center;
}
.theTeam h2 {
  color: #314b11;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5% 5% 0;
}
.theTeam p {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.theTeam .grid {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .theTeam .grid {
    flex-direction: column;
    width: 50%;
  }
}
.theTeam .grid .teamMember {
  width: 25%;
  border-radius: 12px;
  transition: 0.3s;
  justify-content: space-evenly;
  margin: 3% 2%;
  box-shadow: 1px 1px 2px -1px grey;
}
@media (max-width: 500px) {
  .theTeam .grid .teamMember {
    width: 100%;
    margin: 4% auto;
  }
}
.theTeam .grid .teamMember img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.theTeam .grid .teamMember img p {
  text-align: center;
}
.theTeam .grid .teamMember img .content {
  padding: 5%;
}
.theTeam .grid .teamMember img .content h4 {
  font-size: 1.8rem;
  color: #314b11;
}
.stories-hero {
  width: 100%;
  height: 425px;
  margin: 0 auto;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/images/jeremy-goldberg-NFwDSMSq54Q-unsplash.jpg);
  background-position: bottom 30% center;
  background-size: cover;
}
.stories-hero .hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.stories-hero .hero-inner h1 {
  display: flex;
  color: white;
  margin: 0 auto;
}
header div.stories-menu {
  width: 60%;
  margin: 4% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 800px), (max-width: 500px) {
  header div.stories-menu {
    width: 100%;
    flex-wrap: wrap;
  }
}
header div.stories-menu a {
  margin: 5px;
  border-radius: 5px;
  background: #efefef;
  color: #707070;
  text-decoration: none;
  padding: 0.8% 5%;
  font-size: 1.6rem;
}
header div.stories-menu a:hover {
  background: #fff;
  color: #314b11;
  border: 3px solid #314b11;
}
header div.stories-menu a:active {
  background: #314b11;
  color: white;
}
section.storyCards {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  section.storyCards {
    width: 90vw;
    display: flex;
  }
}
@media (max-width: 500px) {
  section.storyCards {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
}
section.storyCards .card {
  border-radius: 12px;
  transition: 0.3s;
  width: 40%;
  justify-content: space-evenly;
  margin: 3% 2%;
  box-shadow: 1px 1px 2px -1px grey;
}
@media (max-width: 500px) {
  section.storyCards .card {
    width: 100%;
    margin: 4% auto;
  }
}
section.storyCards .card img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
section.storyCards .card .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
section.storyCards .card .content {
  padding: 4% 7% 7%;
}
section.storyCards .card .content .credit {
  padding: 3% 0;
}
.pagesNav .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0 4%;
}
.pagesNav .pagination a {
  text-decoration: none;
  color: white;
  color: #314b11;
  text-align: center;
  padding: 1%;
}
footer {
  width: 100%;
  background-color: #314b11;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 5%;
}
footer p {
  color: white;
  font-size: 1rem;
  padding: 2%;
}
footer .footerLogo {
  text-align: center;
}
footer .nav-menu {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  footer .nav-menu {
    width: 45%;
  }
}
@media (max-width: 500px) {
  footer .nav-menu {
    width: 60%;
  }
}
footer .nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  footer .nav-menu a {
    font-size: 1rem;
  }
}
