.main-img {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}

// main img

.logo2 {
    width: 80%;
    height: auto;
    padding-left: 30%;
    padding-top: 5%;
    margin-bottom: 45%;


    @media @mobile {
        padding-top: 15%;
        margin-bottom: 40%;
    }
}

.middle {
   

    .top {
        width: 60%;
        text-align: left;
        margin: 0 auto;
        padding-bottom: 300px;
        @media @mobile{
            padding-bottom: 20%;
        }

        h1 {
            font-size: 5rem;
            text-align: center;
            color: #707070;
            margin: 0;
            padding: 10% 0 3% 0;
        }

        p {
            color: #707070;
            margin-bottom: 10%;
            text-align: center;
        }

        @media @mobile {
            margin-top: 20%;

            h1 {
                font-size: 4rem;
            }
        }
    }

    .cards-bg{
        background-color: @section-color;
        width: 100%;
        border: solid @section-color;
        

        .cards {
            z-index: 1;
            width: 90%;
            margin: 0 auto;
            margin-top: -35%;
            margin-bottom: 5%;
            .flex(center, stretch);
            flex-wrap: wrap;


            @media @mobile {
            
            height: auto;
            display: flex;
            flex-direction: column;
            margin: 0;
            }
        }

        .about-card {
            width: 40%;
            height: auto;
            background: white;
            display: flex;
            flex-direction: column;
            padding: 0;
            padding-bottom: 5%;
            border-radius: 0 0 10px 10px;
            margin: 20px;
            box-shadow: 1px 1px 2px -1px grey;
            @media @mobile{
                width: 100%;
                // margin: 0 auto;
                
            }
        

            img {
                width: 100%;
                border-radius: 12px 12px 0 0;
            }

            h2 {
                padding: 5%;
                color: @secondary-font-color;
            }

            p {
                padding: 0 5%;
                margin-bottom: 20%;
            }

            ;

        }

        

        // @media @mobile {
        //     flex-direction: column;
        //     justify-content: space-evenly;

        //     div {
        //         width: 100%;
        //         height: auto;
        //         margin-bottom: 5%;
        //     }
        // }
    }

    button {
        background: #314B11;
        color: white;
        width: 55%;
        border: none;
        padding: 4%;
        font-size: 2rem;
        border-radius: 12px;
        margin: 0 auto;
        


    }

}