.about-hero {
  width: 100%;
  height: 600px;
  margin: auto;
  // padding-bottom: 50%;
  background-image: url(/images/koushik-chowdavarapu-OsjPhfgEYEU-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10%;
  text-align: center;

  @media @mobile {
    height: 400px;
    background-position-x: 65%;
    padding-top: 25%;
  }

  img {
    width: 40%;

    @media @mobile {
      width: 60%;
    }
  }
}

.about-text {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 20%;

  @media @mobile {
    width: 80%;
    padding-bottom: 2px;
  } // closes about-text mq

  h1 {
    font-size: 4rem;
    color: @main-font-color;
    padding: 10% 0 3% 0;
  } // closes about-text h1
  p {
    color: @main-font-color;
  } // closes about-text p

  // @media @mobile {
  //   margin-top: 10%;
  // } // not sure about this??
} // closes about-text

.about-middle-content {
  background-color: @section-color;
  width: 100%;
  border: solid @section-color;

  .about-cards {
    z-index: 1;
    width: 90%;
    margin: auto;
    margin-top: -15%;
    margin-bottom: 5%;
    .flex(center, stretch);

    @media @mobile {
      margin-top: -20%;
      width: 100%;
    } // closes media query

    .about-card {
      width: 40%;
      height: auto;
      background: white;
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-bottom: 5%;
      border-radius: 10px;
      margin: 20px;
      box-shadow: 1px 1px 2px -1px grey;

      @media @mobile {
        width: 80vw;
        display: flex;
        flex-direction: column;
      }

      img {
        width: 100%;
        border-radius: 12px 12px 0 0;
      }

      h2 {
        padding: 5%;
        color: @secondary-font-color;
      }

      p {
        padding: 0 5%;
        margin-bottom: 20%;
      }

      button {
        background: #314b11;
        color: white;
        width: 55%;
        border: none;
        padding: 4%;
        font-size: 2rem;
        border-radius: 12px;
        margin: 0 auto;

        &:hover {
          cursor: pointer;
          color: white;
          background-color: #24380d;
        } // closes hover
      } // closes button
    } // closes about-card
  } // closes card
} // closes card-bg

.theTeam {
  margin: 5% auto;
  padding-bottom: 5%;
  text-align: center;
  h2 {
    color: @button-color;
    color: @button-color;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5% 5% 0;
  }
  p {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .grid {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin: 0 auto;

    @media @mobile {
      flex-direction: column;
      width: 50%;
    }

    .teamMember {
      width: 25%;
      border-radius: 12px;
      transition: 0.3s;
      justify-content: space-evenly;
      margin: 3% 2%;
      box-shadow: 1px 1px 2px -1px grey;
      box-shadow: 1px 1px 2px -1px grey;
      @media @mobile {
        width: 100%;
        margin: 4% auto;
      }
      img {
        width: 100%;
        border-radius: 12px 12px 0 0;
      }
      .content {
        padding: 5%;
        padding: 5%;
        h4 {
          font-size: 1.8rem;
          color: @button-color;
        } // closes content h4
      } //closes content
    } //closes teamMember
  } //closes grid
} //closes team
