// Footer Styles

footer {
    width: 100%;
    background-color: @footer-bg;
    .flex(center, center);
    flex-direction: column;
    margin: auto;
    padding: 5%;

    .footerLogo {
        text-align: center;
    }

    .nav-menu {
        width: 20%;
        .flex(space-around, center);

        a {
          text-decoration: none;
          color: white;
          font-size: 1.8rem;
          padding-bottom: 4%;
        }
      }

      p {
          font-size: 1.2rem;
          color: white;
      }
}