// Navigation Styles

.wrapper {
  background-image: url(/images/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
  background-size: 100%;
  //   background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 120vh;

  nav {
    width: 100%;
    .flex(space-between, center);
    margin: auto;
    background-color: @nav-bg;

    .nav-container {
      width: 100%;
      .flex(space-between, center);
      margin: 0 50px;

      img {
        height: 10vh;
        width: 23vh;
      } //closes img

      .nav-menu {
        width: 20%;
        .flex(space-around, center);

        a {
          text-decoration: none;
          color: @nav-menu;
          font-size: 1.4rem;
        }
      }
    } //closes nav-container
  } //closes nav

  .hero {
    position: relative;
    margin: 15% 0;
    margin-left: 10%;

    img {
        // height: 30vh;
        width: 40%;
    }

    p {
        color: white;
        margin-top: -2%;
        margin-bottom: 1%;
        margin-left: 3%;
        font-size: 1.4vw;
        font-family: Roboto bold;
        }
    .btn-get-started {
        .btn-solid(white, @button-color, 15%);
        margin-left: 3%;
    }
  }
}


